</div>
	
	
	<div class="container">
		<hr>
	
		<footer>
			<p>&copy; Node CRM</p>
		</footer>
	</div>
	
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/bootstrap-datepicker.js"></script>
	<script src="/js/main.js"></script>

	<script src="/js/vendor/json2.js"></script>
	<script src="/js/vendor/knockout-2.2.0.js"></script>
	<script src="/js/vendor/knockout.mapping-latest.js"></script>

	<script src="/js/vendor/underscore-min.js"></script>
	<script src="/js/vendor/Math.uuid.js"></script>
	<script src="/js/vendor/async.min.js"></script>
		
	</script>	
</body>
</html>