<% include header %>

	<div id="contact-page" class="container">

		<div class="row">
			<div class="span4">
				<h2 style="color: #0099CC">
					<i class="icon-sitemap"></i> <span id="contactCategory">Team <small><a href='/invite' class='label label-info'>Invite</a></small></span>
				</h2>
				<a data-bind="click: showAnnounce" href="#" class="btn btn-small btn-primary pull-left" title="Send Announcement" style="margin-left: 10px"> <i class="icon-bullhorn icon-large"></i> </a>
				<input type="text" class="search-query pull-right" data-bind="value: search, valueUpdate: 'keyup'" placeholder="Search">
				<hr class="btn-info" />
				<div class="clearfix"></div>
				
				<img src='/img/loader.gif' data-bind="visible: loadingContactList" style="display: none"/>
				
				<div id="tables" data-bind="visible: !(loadingContactList())" style="display: none"/>
					<table class="table table-striped table-hover" style="padding-top: 0px; padding-bottom: 0px">
					   <tbody data-bind="foreach: pagedList">
					        <tr>
								<td class="contactname" style="cursor: pointer" data-bind="click: $parent.displayInfo"><i class="icon-user"></i><span style="padding-top: 10px; padding-left: 5px" data-bind="text: $data.Name"></span></td>
								<td class="buttons" width="20px">
					                <a href="#"><i class="icon-chevron-right"></i></a>
					            </td>
					        </tr>
					    </tbody>
					</table>
					
					<div class="pager">
					    <ul>
					    	<li data-bind="css: { disabled: pageIndex() === 0 }"><a href="#" data-bind="click: previousPage">Previous</a></li>
					    	<li data-bind="css: { disabled: pageIndex() === maxPageIndex() }"><a href="#" data-bind="click: nextPage">Next</a></li>
					    </ul>
					</div>
					
				</div>
			</div>
			
			<div class="span8">
				<h2>&nbsp;</h2>
				
				<div id="contactInfo" class="pull-left" style="color: steelblue;"></div>
				<div class="clearfix"></div>
				
				<!-- Form To Update Contact Information -->
				<div data-bind="visible: displayingInfo || !contactUpdating, with: selectedContact" class="pull-right" style="display: none">
					<a href="#" class="btn btn-small btn-primary" data-bind="click: $parent.updateContact" title="Edit"><i class="icon-edit icon-large"></i> Edit</a>&nbsp;
					<a href="#" class="btn btn-small" data-bind="click: $parent.addTask"><i class="icon-list-ol icon-large" title="New Task"></i> New Task</a>&nbsp;
<!-- 					<a href="#" class="btn btn-small btn-success" data-bind="click: $parent.showMessage"><i class="icon-list-ol icon-large" title="Send Message"></i> Send Message</a>&nbsp; -->
					<a href="#" class="btn btn-small btn-primary" data-bind="click: $parent.showMembers, visible: (parseInt($data.isManager) === 1) "><i class="icon-list-ol icon-large" title="Assign Members"></i> Assign Members</a>&nbsp;
					<a href="#" class="btn btn-small btn-info" data-bind="click: $parent.makeManager, visible: (parseInt($data.isManager) !== 1) "><i class="icon-list-ol icon-large" title="Make Manager"></i> Make Manager</a>&nbsp;
					<a href="#" class="btn btn-small btn-danger" data-bind="click: $parent.removeManager, visible: (parseInt($data.isManager) === 1) "><i class="icon-list-ol icon-large" title="Remove as Manager"></i> Remove as Manager</a>&nbsp;
				</div>

				<hr class="btn-success" data-bind="visible: displayingInfo" style="display: none" />
				<div class="clearfix"></div>
				
				<div id="contactDetails" class="pull-left" data-bind="visible: displayingInfo" style="display: none"></div>
				<div class="pull-right" id="alertbox"></div>
				<div class="clearfix"></div>
				
				<div id="contactUpdateForm" data-bind="visible: contactUpdating, with: selectedContact" style="display: none">
					<form class="form-horizontal">
						<fieldset>																
							<div class="control-group">
								<!-- Text input-->
								<label class="control-label" for="input01">Phone No.<sup style="font-size: 15px; color: #f00">*</sup></label>
								<div class="controls">
									<div class="input-prepend">
									<span class="add-on"><i class="icon-phone"></i></span>
									<input style="width: 244px" placeholder="Phone Number" requird class="input-xlarge" type="text" data-bind="value: $data.Phone">
									</div>
								</div>
							</div>
							
							<div class="control-group">
								<!-- Text input-->
								<label class="control-label" for="input01">Address<sup style="font-size: 15px; color: #f00">*</sup></label>
								<div class="controls">
									<input placeholder="Address" class="input-xlarge" type="text" required data-bind="value: $data.Address"><br/>
									<input placeholder="City" class="input-xlarge" type="text" required data-bind="value: $data.City">
								</div>
							</div>
							
							<div class="control-group">
								<!-- Text input-->
								<label class="control-label" for="input01">Other Info</label>
								<div class="controls">
									<textarea placeholder="Any other information" class="input-xlarge" data-bind="value: $data.Optional"></textarea>
									<p class="help-block"><span style="color: #f00">*</span> - Required Fields</p>
								</div>
							</div>
	
							<div class="control-group">
								<label class="control-label"></label>
								<!-- Button -->
								<div class="controls">
									<button class="btn btn-primary" data-bind="click: $parent.completeAction">Save</button>
									<button class="btn btn-danger" data-bind="click: $parent.cancelContactUpdate">Cancel</button>
								</div>
							</div>
	
						</fieldset>
					</form>
				</div>
		
				<!-- ---- New Task ----------- -->
				<div id="taskForm" data-bind="with: selectedTask, visible: taskUpdating" style="display: none">
				  <form class="form-horizontal">
				    <fieldset>
						<div id="legend" class="">
						  <legend><small>New Task</small></legend>
						</div>
						<div id="description" class="control-group">				
					          <label class="control-label" for="input01">Description</label>
					          <div class="controls">
					            <textarea data-bind="value: $data.Description" placeholder="Task Description" class="input-xlarge"></textarea>
					          </div>
					    </div>
					    
						<div id="saveTask" class="control-group">
							<label class="control-label"></label>
							<div class="controls">
								<button class="btn btn-primary" data-bind="click: $parent.createTask, with: $parent.selectedTask">Save</button>
								<button class="btn btn-danger" data-bind="click: $parent.cancelTask">Cancel</button>
							</div>
						</div>	
				    </fieldset>
				  </form>
			    </div>
			    
			    <!-- ---- Msg Form ----------- -->
				<div id="msgForm" data-bind="with: selectedMessage, visible: sendingMessage " style="display: none">
				  <form class="form-horizontal">
				    <fieldset>
						<div id="legend" class="">
						  <legend><small>Send Message</small></legend>
						</div>
						<div id="msgContent" class="control-group">				
					          <label>&nbsp;</label>
					          <div class="controls">
					            <textarea data-bind="value: $data.msg" placeholder="Message Content" class="input-xlarge"></textarea>
					          </div>
					    </div>
					    
						<div id="sendMsg" class="control-group">
							<label class="control-label"></label>
							<div class="controls">
								<button class="btn btn-primary" data-bind="click: $parent.sendMessage">Send</button>
								<button class="btn btn-danger" data-bind="click: $parent.cancelMessage">Cancel</button>
							</div>
						</div>	
				    </fieldset>
				  </form>
			    </div>
			    
			    <!-- ---- Memebers Form ----------- -->
				<div id="msgForm" data-bind="visible: membersUpdating" style="display: none">
					<br/>
				  	<div class="row" style="padding-left: 20px">
				  		<div class="pull-left">
				  			<span class="label label-info">Available Team Members</span><br/>
					  		<select multiple="multiple" height="5" data-bind="options:availableCompanyContacts, optionsText: 'Name', selectedOptions:selectedCompanyContacts"> </select>
					  	</div>
					  	<div class="pull-left" style="padding-top: 20px">
					  		<a style="text-decoration: none; cursor: pointer" data-bind="click: moveMembersRight"><i class="icon-arrow-right icon-2x" ></i></a><br/>
					  		<a style="text-decoration: none; cursor: pointer" data-bind="click: moveMembersLeft"><i class="icon-arrow-left icon-2x" ></i></a>
					  	</div>
				  		<div class="pull-left; padding-left: 10px; padding-right: 10px;">
				  		<span class="label label-success" id="assignedMembers">Assigned</span><br/>
					  		<select multiple="multiple" height="5" data-bind="options:availableAssignedMembers, optionsText: 'Name', selectedOptions:selectedAssignedMembers"> </select>
					  	</div>
					  	<div class="clearfix"></div>
				  	</div>
				  
			  		<button class="btn btn-primary" data-bind="click: updateMembers">Update</button>
					<button class="btn btn-danger" data-bind="click: cancelMembers">Cancel</button>
				
				</div>
				
			</div>
			
		</div>

	</div>
	<!-- /container -->
	
	<script src="/js/team.js"></script>
<% include footer %>